.rte-container {
    min-height: 150px;
    font-family: "Roboto", sans-serif;
}

.rte-editor {
    min-height: 100px;
    font-size: 14px;
}

.rte-editor blockquote {
    font-size: 14px;
    font-weight: 400;
    font-style: normal !important;
    font-family: "Roboto", sans-serif !important;
}

.DraftEditor-root, .DraftEditor-editorContainer, .public-DraftEditor-content {
    min-height: inherit;
    text-align: initial;
}