@import "_navbar.css";
@import "_header.css";
@import "_animations.css";

body {
    margin: 0;
    background: #fafafa;
}

.wrap {
    box-sizing: border-box;
    max-width: 84%;
    margin: 0 auto;
}

.main-content {
    padding-top: 56px;
}

.time-container {
    display: inline-block;
    right: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.541176);
    position: absolute;
}

.time-container:first-letter {
    text-transform: uppercase;
}

.attachment-btn {
    height: 25px !important;
    line-height: 25px !important;
}

.attachment-btn > div > span {
    text-transform: capitalize !important;
    font-size: smaller !important;
}

.attach-btn > label > div > div > span {
    text-transform: capitalize !important;
}

.right-content {
    margin-top: 20px;
    margin-left: 20px;
}

.right-content > label {
    font-family: Roboto, sans-serif;
    font-size: medium;
    color: #5c5c5c;
}

.chip {
    margin: 4px !important;
    border-radius: 3px !important;
    height: 28px;
    border: thin solid rgba(57, 67, 91, 0.15) !important;
    background-color: rgba(225, 225, 225, 0.45) !important;
}

.chip > svg {
    margin: 5px 4px 0 -6px !important;
    height: 18px !important;
    width: 18px !important;
}
