@import "_navbar.css";
@import "_header.css";
@import "_animations.css";
@import "_interactions.css";
@import "_institute.css";

body {
    margin: 0;
    background: #fafafa;
}

.auth-background {
    position: absolute;
    min-height:100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: #39435B url("images/bluehats.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.footer-image {
    position: absolute;
    height: 773px;
    width: 100%;
    bottom: 0;
    background: url("images/institutes.png");
}

.auth-footer {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.footer-icon {
    font-size: 33px;
}

.footer-heading {
    font-size: 14px;
}

.bg-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

.auth-content {
    margin-top: 10%;
    color: white;
}

.wrap {
    box-sizing: border-box;
    max-width: 86%;
    margin: 0 auto;
}

.main-content {
    padding-top: 56px;
}

.time-container {
    display: inline-block;
    right: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.541176);
    position: absolute;
}

.time-container:first-letter {
    text-transform: uppercase;
}

.attachment-btn {
    height: 25px !important;
    line-height: 25px !important;
}

.attachment-btn > div > span {
    text-transform: capitalize !important;
    font-size: smaller !important;
}

.attach-btn {
    height: 30px !important;
    line-height: 30px !important;
    display: table-cell !important;
    color: rgb(97, 97, 97) !important;
    background-color: rgba(236, 236, 236, 0.5) !important;
    border: thin solid rgba(185, 185, 185, 0.6) !important;
}

.attach-btn > div > span {
    text-transform: capitalize !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.right-content {
    margin-top: 20px;
    margin-left: 20px;
}

.right-content > label {
    font-family: Roboto, sans-serif;
    font-size: medium;
    color: #5c5c5c;
}

.chip {
    border-radius: 3px !important;
    border: thin solid rgba(57, 67, 91, 0.15) !important;
    background-color: rgba(225, 225, 225, 0.45) !important;
    margin: 8px 8px 0 0 !important;
    float: left;
}

.chip > svg {
    margin: 5px 4px 0 -6px !important;
    height: 16px !important;
    width: 16px !important;
}

.post-chip {
    height: 25px !important;
}

.post-content p {
    margin: 6px 0;
    line-height: 18px;
}

.post-content li {
    padding: 5px 0;
}

.post-content p code {
    background: rgba(237, 237, 237, 0.71);
    border-radius: 2px;
    padding: 2px;
}

.post-content pre {
    background: rgba(237, 237, 237, 0.71);
    border-radius: 1px;
    padding: 8px;
    margin: 0;
}

.post-content blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.card-divider {
    width: 95%;
    margin: 0.5em auto !important;
}

.initial-loader {
    position: absolute;
    display: block;
    font-family: 'Roboto', sans-serif;
    top: 42%;
    left: 44%;
}

.notification-text {
    margin: 6px 0 0 0;
}

.paper-style {
    text-align: center;
    background-color: transparent !important;
    margin-top: 50px;
}

.notification-popover {
    top: 56px !important;
}

.how-to-list li {
    margin-top: 6px;
}

.how-to-list li button {
    width: 24px;
    height: 24px;
}

.how-to-list li button > span {
    width: 16px;
    height: 16px;
    background-size: 16px;
}
